<aside class="col-md-4">
  <div class="p-4 mb-4 bg-light rounded">
      <h4 class="fst-italic">About</h4>
      <p>Super Sly Designs is dedicated to bringing you the latest in fashion trends, creative apparel ideas, and styling tips. We believe in creativity, agility, and quality.</p>
  </div>

  <div class="p-4">
      <h4 class="fst-italic">Categories</h4>
      <ol class="list-unstyled">
          <li><a href="#">Fashion Trends</a></li>
          <li><a href="#">Styling Tips</a></li>
          <li><a href="#">Sustainable Apparel</a></li>
          <li><a href="#">Behind the Scenes</a></li>
      </ol>
  </div>
</aside>